#prodDetailPath {
  /* border: 1px solid red; */

  margin: 2rem 5rem;
  display: flex;
  gap: 1rem;
  color: darkgray;
}
#prodDetailPath :last-child {
  color: gray;
  font-weight: bolder;
}

/* . */

#prodDetail {
  margin: 2rem 8rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}

/* media screen */
@media screen and (max-width: 414px) {
  #prodDetailPath {
    display: none;
  }
  #prodDetail {
    margin: 2rem 1rem;
  }
}

@media only screen and (min-device-width: 415px) and (max-device-width: 1024px) and (orientation: portrait) {
  #prodDetailPath {
    display: none;
  }
}
